# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Sphinx documentation
docs/_build/
docs/scripts/
_build/
docs/_subrepos/
docs/*/_subrepos/
docs/*/_subrepos_index.md
docs/_static/MotionDataViewer
docs/_static/orchestrator
docs/_static/web_backend
docs/_static/speech2motion
docs/_static/audio2face

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# cursor IDE
.cursor

# motion_data
motion_data/
*.zip
data/

# weights
weights/
